[2018-12-07 16:43] HollySchuelerKCI commented on #438
### FINAL REPORT OUTPUT SAMPLE:
[QA 12 - QAInspectionPerInspector - 438 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658065/QA.12.-.QAInspectionPerInspector.-.438.-.FINAL.OUTPUT.pdf)

[2018-12-07 16:51] HollySchuelerKCI commented on #437
### FINAL REPORT OUTPUT SAMPLE:
[QA 9 - PQA2List - 437 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658102/QA.9.-.PQA2List.-.437.-.FINAL.OUTPUT.pdf)

[2018-12-07 17:02] HollySchuelerKCI commented on #436
### FINAL REPORT OUTPUT SAMPLE:
[QA 23 - UserSubscriptions - 436 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658144/QA.23.-.UserSubscriptions.-.436.-.FINAL.OUTPUT.pdf)

[2018-12-07 17:05] HollySchuelerKCI commented on #434
### FINAL REPORT OUTPUT SAMPLE:
[QA 10 - QA2 - 434 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658150/QA.10.-.QA2.-.434.-.FINAL.OUTPUT.pdf)

[2018-12-07 17:11] HollySchuelerKCI commented on #427
### FINAL REPORT OUTPUT SAMPLE:
[QA5 - QAInspectionLog - 427 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658169/QA5.-.QAInspectionLog.-.427.-.FINAL.OUTPUT.pdf)

[2018-12-07 17:15] HollySchuelerKCI commented on #425
### FINAL REPORT OUTPUT SAMPLE:
[QA 15 - ESC Grade Summary - 425 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658179/QA.15.-.ESC.Grade.Summary.-.425.-.FINAL.OUTPUT.pdf)

[2018-12-07 17:17] HollySchuelerKCI commented on #424
### FINAL REPORT OUTPUT SAMPLE:
[QA19 - YCList - 424 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658185/QA19.-.YCList.-.424.-.FINAL.OUTPUT.pdf)

[2018-12-07 17:40] vijme commented on #473
Chart redesigned according to latest spec of inter bar spaces.

[2018-12-07 17:41] vijme commented on #432
Chart redesigned according to latest spec of inter bar spaces.

[2018-12-07 17:41] vijme commented on #433
Chart redesigned according to latest spec of inter bar spaces.

[2018-12-07 17:44] HollySchuelerKCI commented on #464
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2018-12-07 18:04] HollySchuelerKCI commented on #464
### FINAL REPORT OUTPUT SAMPLE:
[MDE3 - EPD - 464 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658309/MDE3.-.EPD.-.464.-.FINAL.OUTPUT.pdf)

[2018-12-07 18:05] HollySchuelerKCI commented on #463
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2018-12-07 18:06] HollySchuelerKCI commented on #463
### FINAL REPORT OUTPUT SAMPLE:
[MDE2 - Current - 463 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658314/MDE2.-.Current.-.463.-.FINAL.OUTPUT.pdf)

[2018-12-07 18:07] HollySchuelerKCI commented on #462
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2018-12-07 18:08] HollySchuelerKCI commented on #462
### FINAL REPORT OUTPUT SAMPLE:
[MDE1 - Accounting - 462 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2658324/MDE1.-.Accounting.-.462.-.FINAL.OUTPUT.pdf)

[2018-12-07 18:44] HollySchuelerKCI commented on #433
This report with the above modifications has been validated by the project team in the **_Development Environment._**

[2018-12-07 18:47] HollySchuelerKCI commented on #473
This report with the above modifications has been validated by the project team in the **_Development Environment._**

[2018-12-07 19:12] HollySchuelerKCI commented on #438
@Tad-Daniel There was an mix-up in reports. Please test and confirm this report located on the **Reports Tab**. If needed,use the Steps to Replicate above for guidance.

Viji has implemented your requested chart preferences, please test and confirm all charts from those found on the reporting page:
1. QA Project Inspections By Date
2. QA Projects By District
3. QA Projects/Grade Distribution By In

[2018-12-07 19:29] vijme commented on #478
Implemented in dev

[2018-12-07 20:05] vijme commented on #477
Prototyped in dev under "Project List" page print button. Please let us know your comments

![image](https://user-images.githubusercontent.com/6668314/49670095-79497980-fa31-11e8-8852-3e0959e8ff4c.png)

[2018-12-10 18:31] vijme commented on #458
Responses sorted oldest->newest according to the "Additional Re-Design Specs"

[2018-12-10 18:31] sgpapakirk commented on #467
@HollySchuelerKCI, this is the first report that will now correctly produce both the PDF and the Excel files.
The PostPermitting.rdlc handles now only the PDF files. It's the original one and it uses a grid with a sub-report.
The new PostPermitting-Excel.rdlc handles only Excel files and it uses a list with sub-report, so that Excel can render the sub-report(s)' data, too.

I tried to use the newe

[2018-12-10 19:05] HollySchuelerKCI commented on #458
This report has been successfully validated that includes the above "additional re-design specs" in the **_Development Environment._**

@Tad-Daniel please confirm at your convenience.

[2018-12-10 19:25] HollySchuelerKCI commented on #432
This report with the above chart modification has been validated by the project team in the **_Development Environment._**

[2018-12-10 19:25] sgpapakirk commented on #467
Viji has now deployed this ticket's code changes in our http://oed.kci.com/shaportal web site.

[2018-12-10 19:46] HollySchuelerKCI commented on #467
@sgpapakirk I found a discrepancy between the PDF and Excel versions. It seems that the Excel report does not include information from the following columns:

- Permit
- Permit #
- Issued
- Expires

#### PDF:
![image](https://user-images.githubusercontent.com/25441512/49757227-e8210f80-fc89-11e8-9171-fb686cddfef7.png)

#### Excel:
![image](https://user-images.githubusercontent.com/25441512/4975737

[2018-12-10 20:18] sgpapakirk commented on #467
@HollySchuelerKCI, I don't understand this, the subreport data should also be in the Excel file
1) I tested logging in the http://oed.kci.com/shaportal web site where Viji released it.
2) I went to the MDE Toolkit
3) I logged in with Viji's "vs" username.
4) I then clicked on the "Print" button, selected first the "Spreadsheet" format (Excel), also then clicked on the "Post Permitting" link.
I zip

[2018-12-10 20:30] HollySchuelerKCI commented on #467
@sgpapakirk I am now able to see the full report. Not sure what occurred earlier.

[2018-12-10 20:33] HollySchuelerKCI commented on #467
This report, both PDF and Excel versions have been successfully validated by the project team in the Development Environment.

Sub-Reports were viewed successfully in both PDF and Excel versions of this report.

[2018-12-11 11:42] Tad-Daniel commented on #477
I like what you have implemented.

[2018-12-11 13:45] Tad-Daniel commented on #465
I just downloaded the reports and the nested information appears in the XLS report.  What am I missing?

[2018-12-11 14:51] Tad-Daniel commented on #438
Looks good

[2018-12-11 14:54] HollySchuelerKCI commented on #438
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-11 14:56] Tad-Daniel commented on #433
Charting looks good.

Please add some space between these two charts so that the last two grids and charts show up on a separate page from all the others

![image](https://user-images.githubusercontent.com/7913678/49808623-f5daa180-fd2a-11e8-82e6-f16fad8d6050.png)

[2018-12-11 15:10] vijme commented on #433
Introduced a page break so last two charts appear on a separate page

[2018-12-11 15:10] Tad-Daniel commented on #465
I got it now.   I am reaching out to EPD for input.  As soon as I hear back I will let you know..

[2018-12-11 15:13] Tad-Daniel commented on #478
Working correctly

[2018-12-11 15:14] Tad-Daniel commented on #478
working correctly

[2018-12-11 15:23] Tad-Daniel commented on #475
Appears to be working correctly

[2018-12-11 15:31] Tad-Daniel commented on #433
Looks good

[2018-12-11 15:40] Tad-Daniel commented on #432
Our data is sporadic in the DEV environment so I am unable to see a full 4 quarters charted out.  It currently appear that not all the quarters show in the report.

[2018-12-11 20:59] vijme commented on #426
All above comments are corrected.

[2018-12-12 13:06] slmessier opened #479 "QA Toolkit - Inspectors Role - Delete Button Persistence Issue"
Looks like an old issue related to #409 is still unresolved even though we thought it was fixed.

On one of my inspectors computers it has been noticed that when the project grid is loaded no delete button appears. With a refresh or search the delete button appears.  It then comes and goes randomly.

[2018-12-12 13:45] Tad-Daniel commented on #429
Looks good

[2018-12-12 13:46] Tad-Daniel commented on #430
Looks good

[2018-12-12 14:00] Tad-Daniel commented on #458
Fix vertical alignment of names and dates on page 2.

The form date is to be 3/20/2015 (this is not the PDF creation date, its is the form date)

![image](https://user-images.githubusercontent.com/7913678/49874330-39491480-fdec-11e8-82a6-d1f2873290c8.png)

[2018-12-12 14:21] HollySchuelerKCI commented on #430
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-12 14:22] HollySchuelerKCI commented on #429
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-12 14:32] HollySchuelerKCI commented on #477
This issue has been validated by both the project team and the stakeholder in the **_Development Environment._**

[2018-12-12 14:55] vijme commented on #458
@Tad-Daniel, thanks for your comments. I have fixed them. Besides I have also fixed few more alignments and added a footer for the PDF creation date and page number to be consistent with other reports.  Does the modresponse date also needs change? I have changed date and added a footer to the response form as well. Please confirm

[2018-12-12 15:04] HollySchuelerKCI commented on #426
The above requested modifications have been validated by the project team in the **_Development Environment._**

[2018-12-12 15:19] HollySchuelerKCI commented on #428
@Tad-Daniel Regarding your comment under "Additional Re-design Specifications" Could you please provide clarification / steps to replicate?

As Viji mentioned in her above comment, we both tested this report in the Staging Environment (due to email notifications failing in Dev) and were able to view the notification list at the end of the form.

Thank you!

[2018-12-12 16:43] vijme commented on #428
Assigning to me (Viji) to fix the checkboxes and signature  panels

[2018-12-12 16:45] vijme commented on #458
Also, does the text needs to be green, can we change it to normal black like other reports?

[2018-12-12 17:49] HollySchuelerKCI commented on #456
This report with the above modifications has been validated by the project team in the **_Development Environment._**

[2018-12-12 19:16] sgpapakirk commented on #472
@HollySchuelerKCI, I have now finished coding so that we can now correctly produce both the PDF and the Excel files.
As I said in the Issue 467, I couldn't use say this new Excel .rdlc to produce also the PDF files because
it was leaving the main grid’s first row empty on the pages 2, 3, 4, etc. (a weird rendering issue that I couldn’t fix).

Finally, I just merged my "Stylianos_Dev" code branch i

[2018-12-12 21:43] vijme commented on #426
@Tad-Daniel, Thanks for your markup

1. Page number at the top of page - Implemented
2. Changes to grade box - Implemented
3. Changes to rating box - Implemented
4. Received By signature Box: The signatures are rendered as subreports. Due to this, a slight one point shift to the text causes the whole report to widen and go over 2 sheets.
5. Header font increased slightly
6. Removed and added borde

[2018-12-12 23:03] sgpapakirk commented on #465
@HollySchuelerKCI, I have now finished coding so that we can now correctly produce both the PDF and the Excel files.
As I said in the Issue 467, I couldn't use say this new Excel .rdlc to produce also the PDF files because
it was leaving the main grid’s first row empty on the pages 2, 3, 4, etc. (a weird rendering issue that I couldn’t fix).

Finally, I just merged my "Stylianos_Dev" code branch i

[2018-12-13 11:18] Tad-Daniel commented on #473
Our data is sporadic in the DEV environment so I am unable to see a full 4 quarters charted out. It currently appear that not all the quarters show in the report.

[2018-12-13 13:58] vijme commented on #479
Issue fixed in dev

[2018-12-13 15:55] HollySchuelerKCI commented on #429
### FINAL REPORT OUTPUT SAMPLE:
[QA 1 - InspectionSchedule - 429 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2676728/QA.1.-.InspectionSchedule.-.429.-.FINAL.OUTPUT.pdf)

[2018-12-13 16:00] HollySchuelerKCI commented on #433
### FINAL REPORT OUTPUT SAMPLE:
[QA 13 - QAESCSummaryBPR - 433 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2676755/QA.13.-.QAESCSummaryBPR.-.433.-.FINAL.OUTPUT.pdf)

[2018-12-13 16:03] HollySchuelerKCI commented on #430
### FINAL REPORT OUTPUT SAMPLE:
[QA 2 - InspectionHold - 430 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2676762/QA.2.-.InspectionHold.-.430.-.FINAL.OUTPUT.pdf)

[2018-12-13 17:33] HollySchuelerKCI commented on #472
Both the PDF and Excel versions of this report has been successfully tested by the project team in the **_Development Environment._**

Sub-Reports were successfully incorporated into the Excel report.

[2018-12-13 17:40] HollySchuelerKCI commented on #465
Both the PDF and Excel versions of this report has been successfully tested by the project team in the **_Development Environment._**

Sub-Reports were successfully incorporated into the Excel report.

[2018-12-13 17:56] HollySchuelerKCI commented on #450
@vijme Below are my comments regarding IEM 1:
1.  Please change (or as close to) the following green: **008000**
2.  Please change the column header font to arial, and remove green background. Below is the original report.
![image](https://user-images.githubusercontent.com/25441512/49957579-47735f80-fed6-11e8-85b8-5fe68fd4084a.png)

[2018-12-13 17:56] sgpapakirk commented on #468
@HollySchuelerKCI, I have now finished coding so that we can now correctly produce both the PDF and the Excel files.
As I said in the Issue 467, I couldn't use say this new Excel .rdlc to produce also the PDF files because
it was leaving the main grid’s first row empty on the pages 2, 3, 4, etc. (a weird rendering issue that I couldn’t fix).

Finally, I just merged my "Stylianos_Dev" code branch i

[2018-12-13 18:11] HollySchuelerKCI commented on #479
Using the Inspector Role, this issue has been validated by the project team in the **_Development Environment._**

[2018-12-13 18:49] Tad-Daniel commented on #479
This appears to have resolved the issue.  Checked as an inspector and contractor.

[2018-12-13 19:02] vijme commented on #468
Deployed

[2018-12-13 20:09] HollySchuelerKCI commented on #468
Both the PDF and Excel versions of this report has been successfully tested by the project team in the **_Development Environment._**

Sub-Reports were successfully incorporated into the Excel report.

[2018-12-14 00:46] sgpapakirk commented on #471
@HollySchuelerKCI, I have now finished coding so that we can now correctly produce both the PDF and the Excel files.
As I said in the Issue 467, I couldn't use say this new Excel .rdlc to produce also the PDF files because
it was leaving the main grid’s first row empty on the pages 2, 3, 4, etc. (a weird rendering issue that I couldn’t fix).

Finally, I just merged my "Stylianos_Dev" code branch i

[2018-12-14 16:16] vijme commented on #471
Deployed

[2018-12-14 18:04] sgpapakirk commented on #469
@HollySchuelerKCI, I have now finished coding so that we can now correctly produce both the PDF and the Excel files.
As I said in the Issue 467, I couldn't use say this new Excel .rdlc to produce also the PDF files because
it was leaving the main grid’s first row empty on the pages 2, 3, 4, etc. (a weird rendering issue that I couldn’t fix).

Finally, I just merged my "Stylianos_Dev" code branch i

[2018-12-14 18:14] HollySchuelerKCI commented on #471
Both the PDF and Excel versions of this report has been successfully tested by the project team in the **_Development Environment._**

Sub-Reports were successfully incorporated into the Excel report.

[2018-12-14 19:05] vijme commented on #450
@HollySchuelerKCI , Changed all others except the green background, as it looks much better

[2018-12-14 20:00] sgpapakirk commented on #469
I have noticed that Viji has actually deployed this report in our http://oed.kci.com testing web site.

[2018-12-15 02:45] sgpapakirk commented on #470
@HollySchuelerKCI, I have now finished coding this report. Please note that it doesn't contain subreports, so I used only 1 .rdlc file.
Please note that this report has some extra functionality. If the end user has a value selected from the main page's "Reviewer Org." drop down list, then in the report you will see under the main top header a smaller one like this say: "Reviewed by McCormick Taylo

[2018-12-17 13:53] vijme commented on #470
Deployed

[2018-12-17 15:39] HollySchuelerKCI commented on #470
#### EPD - Sorted by Team Leader (PDF and EXCEL)
Both the PDF and Excel versions of this report has been successfully tested by the project team in the Development Environment.

#### EPD - Sorted by Ad / Due, Bid, Prod
Both the PDF and Excel versions of this report has been successfully tested by the project team in the Development Environment.

#### EPD - Sorted by Contract #
Both the PDF and Exc

[2018-12-17 15:45] HollySchuelerKCI commented on #469
This report, both PDF and Excel versions have been successfully validated by the project team in the **_Development Environment._**

Sub-Reports were viewed successfully in both PDF and Excel versions of this report.

[2018-12-17 16:00] HollySchuelerKCI commented on #450
This report has been validated by the project team in the **_Development Environment._**

[2018-12-18 21:50] vijme commented on #447
Implemented in dev.

Minor Design Changes:
1. Weather/Soil/Stream : All placed in straight line.
2. Due to SSRS limitations, Inspection Date value cannot be repeated in all pages. A workaround is implemented and the date is now displayed on the top left on all pages. Due to this the table header is repeated on all pages.

I hope these changes are minor, but let me know if something needs to be cha

[2018-12-19 18:50] HollySchuelerKCI commented on #447
This report has been validated by the project team in the **_Development Environment._**

@Tad-Daniel Please refer to Viji's comment above regarding the SSRS design modifications she needed to implement.

[2018-12-20 16:31] Tad-Daniel commented on #465
Looks Good

[2018-12-20 16:33] Tad-Daniel commented on #467
Looks Good

[2018-12-20 16:35] Tad-Daniel commented on #471
Looks Good

[2018-12-20 17:30] HollySchuelerKCI commented on #467
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-20 17:33] HollySchuelerKCI commented on #467
### FINAL OUTPUT REPORT SAMPLE:
[MDE 7 - PostPermitting - 467 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2699867/MDE.7.-.PostPermitting.-.467.-.FINAL.OUTPUT.pdf)

[2018-12-20 17:34] HollySchuelerKCI commented on #465
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-20 17:43] HollySchuelerKCI commented on #465
### FINAL REPORT OUTPUT SAMPLE:
[MDE 5 - EPDWorkload - 465 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2699909/MDE.5.-.EPDWorkload.-.465.-.FINAL.OUTPUT.pdf)

[2018-12-20 17:46] HollySchuelerKCI commented on #460
This report has been validated by the project team in the **_Development Environment._**

[2018-12-20 18:06] HollySchuelerKCI commented on #461
This report has been validated by the project team in the **_Development Environment._**

[2018-12-20 18:08] vijme commented on #476
Implemented in dev, when saving the daily inspection report, the list of open issues associated to the inspection will be listed in the email.

Cannot be tested in dev. Please see the screenshots for validation:

1. Before the implementation, no listing of issues

![capturebefore](https://user-images.githubusercontent.com/6668314/50302395-f9bba180-0457-11e9-8762-e01332543394.PNG)

2. After impleme

[2018-12-20 21:36] Tad-Daniel commented on #432
Looks good

[2018-12-20 21:42] Tad-Daniel commented on #450
Looks good

[2018-12-20 21:47] Tad-Daniel commented on #447
Looks good

[2018-12-20 21:49] Tad-Daniel commented on #473
Looks good

[2018-12-21 13:46] HollySchuelerKCI commented on #460
FINAL REPORT OUTPUT SAMPLE:
[CAL 1 - QA Calendar Snapshot - 460 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2702966/CAL.1.-.QA.Calendar.Snapshot.-.460.-.FINAL.OUTPUT.pdf)

[2018-12-21 13:47] HollySchuelerKCI commented on #461
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-21 13:50] HollySchuelerKCI commented on #461
FINAL REPORT OUTPUT SAMPLE:
[CAL 2 - QA Calendar - Detailed PDF - 461 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2702976/CAL.2.-.QA.Calendar.-.Detailed.PDF.-.461.-.FINAL.OUTPUT.pdf)

[2018-12-21 13:58] HollySchuelerKCI commented on #432
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-21 14:02] HollySchuelerKCI commented on #432
FINAL REPORT OUTPUT SAMPLE:
[QA 17 - ModSummary - 432 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2703011/QA.17.-.ModSummary.-.432.-.FINAL.OUTPUT.pdf)

[2018-12-21 14:21] HollySchuelerKCI commented on #450
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-21 14:23] HollySchuelerKCI commented on #450
FINAL REPORT OUTPUT SAMPLE:
[IEM 1 - DailyInspectionListReport - 450 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2703128/IEM.1.-.DailyInspectionListReport.-.450.-.FINAL.OUTPUT.pdf)

[2018-12-21 14:46] HollySchuelerKCI commented on #447
FINAL REPORT OUTPUT SAMPLE:
[IEM 3 - DailyInspectionTemplate - 447 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2703203/IEM.3.-.DailyInspectionTemplate.-.447.-.FINAL.OUTPUT.pdf)

[2018-12-21 15:13] HollySchuelerKCI commented on #473
This report has been validated by the stakeholder in the **_Development Environment._**

[2018-12-21 15:31] HollySchuelerKCI commented on #476
@Tad-Daniel Please refer to the above screenshots provided by Viji for sample output for validation. This will subsequently become testable after _deployment_ into the **STAGING** environment.

[2018-12-21 15:54] HollySchuelerKCI commented on #428
@Tad-Daniel  Please test the OOC61.1 form notification list in STAGING. I've included the parameters below for you to use to confirm validation.

**Staging Parameters:**
Contract No.: 123test3211
Project Description: testing219
Status: Final

_Reference Screenshot:_
![image](https://user-images.githubusercontent.com/25441512/50350983-c25bfc00-050e-11e9-9574-11535d1e16be.png)

=====================

[2018-12-21 16:48] Tad-Daniel commented on #426
additional comment in markup.
[QAInsp_000111_20180410 (3).pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2703525/QAInsp_000111_20180410.3.pdf)

[2018-12-21 16:55] HollySchuelerKCI commented on #473
### FINAL REPORT OUTPUT SAMPLE:
[QA 16 - ModApproval - 473 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2703545/QA.16.-.ModApproval.-.473.-.FINAL.OUTPUT.pdf)

[2018-12-21 16:55] Tad-Daniel commented on #428
Appears to be working correctly

[2018-12-21 17:35] HollySchuelerKCI commented on #438
### FINAL REPORT OUTPUT SAMPLE:
[QA 12 - QAInspectionPerInspector - 438 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2703643/QA.12.-.QAInspectionPerInspector.-.438.-.FINAL.OUTPUT.pdf)

[2018-12-21 19:48] Tad-Daniel commented on #476
Looks good

[2018-12-21 19:55] Tad-Daniel commented on #456
I am not seeing any changes.

[2018-12-21 20:00] HollySchuelerKCI commented on #476
This issue's sample output has been confirmed by the stakeholder in the **Development Environment.**

Full testing will be completed in the Staging Environment.

[2018-12-21 20:05] Tad-Daniel commented on #458
The green should remain green although any other color can be considered

Looks good

[2018-12-21 20:11] HollySchuelerKCI commented on #456
@Tad-Daniel this report is for the OOC61(07/01/2011) form. In DEV you can refer to **Contract No. 123333** for validation.

[2018-12-21 21:21] HollySchuelerKCI commented on #458
@Tad-Daniel Thank you for your comment. The project team will keep the text green as it maintains consistency with the original report. If you prefer a different color, the team will make the modification.

[2018-12-26 19:34] sgpapakirk commented on #446
@HollySchuelerKCI, I have now finished coding this report.
First note that there is a second way to generate this report:
1) Log into the EM Toolkit.
2) From the inspections Tab, select a project from the list.
3) From the Daily Inspection List, click now on the first "Print Preview" button for the desired date.
4) Go to the bottom of this page and click on the shown "Report" button.

Note also th

[2019-01-02 14:41] slmessier commented on #458
@Tad-Daniel please re-assess, are you comfortable accepting at this time?

[2019-01-02 14:48] slmessier commented on #428
@Tad-Daniel please indicate whether are you comfortable accepting at this time? thank you!

[2019-01-02 14:48] Tad-Daniel commented on #472
Looks good

[2019-01-02 14:57] HollySchuelerKCI commented on #472
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-02 15:00] HollySchuelerKCI commented on #472
### FINAL REPORT OUTPUT SAMPLE:
[MDE 4 - EPD_NOPF - 472 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2721056/MDE.4.-.EPD_NOPF.-.472.-.FINAL.OUTPUT.pdf)

[2019-01-02 15:16] Tad-Daniel commented on #470
Looks good

[2019-01-02 15:19] Tad-Daniel commented on #428
Yes this is acceptable,

[2019-01-02 15:19] vijme commented on #446
Deployed

[2019-01-02 15:21] HollySchuelerKCI commented on #470
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-02 15:32] HollySchuelerKCI commented on #470
### FINAL REPORT OUTPUT SAMPLE FOR EPD SORTED BY TEAM LEADER:
[MDE 10 - WorkloadEPD_Sorted_by_TeamLeader  - 470 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2721133/MDE.10.-.WorkloadEPD_Sorted_by_TeamLeader.-.470.-.FINAL.OUTPUT.pdf)

### FINAL REPORT OUTPUT SAMPLE FOR EPD SORTED BY AD / DUE, BID, PROD:
[MDE 10 - WorkloadEPD_Sorted_by_AD_Due_BidProd  - 470 - FINAL OUTPU

[2019-01-02 16:00] HollySchuelerKCI commented on #446
@sgpapakirk Please make one minor adjustment. Please reduce the font size by 1 or 2pts for the Disclaimer section.  See area below in screenshot.

![image](https://user-images.githubusercontent.com/25441512/50599952-8d8c6500-0e7d-11e9-88a6-0a4150d39293.png)

[2019-01-02 18:00] sgpapakirk commented on #446
@HollySchuelerKCI, I have now made this change, I used 8pt font size, 1pt less.
I merged my changes the "master" and the "viji-reports" branches, so it will be released soon.

[2019-01-02 18:16] sgpapakirk commented on #449
@HollySchuelerKCI, I have now finished coding this report.
First note that there is a second way to generate this report:
1) Log into the EM Toolkit.
2) From the inspections Tab, select a project from the list (pick one that you know it has at least one Environmental Impact report).
3) Click now on the top "Environmental Impacts" tab.
4) The "Environmental Impact List" page you should now see one

[2019-01-02 20:18] vijme commented on #426
Thanks for your feedback. I have corrected all, except "If no, move to second line if possible". Please let me know your feedback. Once approved, the same changes will be applied to other inspection types.

[2019-01-02 20:31] vijme commented on #449
Deployed

[2019-01-02 20:31] vijme commented on #446
Deployed

[2019-01-02 20:38] HollySchuelerKCI commented on #446
This report has been successfully validated by the project team in the **_Development Environment._**

[2019-01-02 20:51] HollySchuelerKCI commented on #426
This report with the above modifications have been validated by the project team in the **_Development Environment._**

@Tad-Daniel please see Viji's comment above requesting your feedback regarding the "If no, more to second line if possible".

[2019-01-02 21:02] HollySchuelerKCI commented on #449
@sgpapakirk Please make one minor adjustment. Please reduce the font size by 1 or 2pts for the Disclaimer section.

[2019-01-02 22:32] Tad-Daniel commented on #458
This report is accepted

[2019-01-02 22:48] Tad-Daniel commented on #426
Looking good so far . please apply to other inspection types.   I will delay commenting on OOC61 until changes are made to the template.

[2019-01-03 13:50] HollySchuelerKCI commented on #458
This report has been accepted by the stakeholder in the **_Development Environment._**

[2019-01-03 13:55] HollySchuelerKCI commented on #458
### FINAL REPORT OUTPUT SAMPLE:
[QA 21 - QA3 - 458 - FINAL OUPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2723919/QA.21.-.QA3.-.458.-.FINAL.OUPUT.pdf)

[2019-01-03 13:57] Tad-Daniel commented on #446
Looks good

[2019-01-03 13:58] HollySchuelerKCI commented on #446
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-03 13:59] Tad-Daniel commented on #465
The Final Report is accepted

[2019-01-03 14:00] HollySchuelerKCI commented on #446
### FINAL REPORT OUTPUT SAMPLE:
[IEM 2 - DailyInspectionReport - 446 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2723938/IEM.2.-.DailyInspectionReport.-.446.-.FINAL.OUTPUT.pdf)

[2019-01-03 14:02] Tad-Daniel commented on #468
Looks good

[2019-01-03 14:04] Tad-Daniel commented on #469
Looks good

[2019-01-03 14:08] HollySchuelerKCI commented on #468
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-03 14:10] HollySchuelerKCI commented on #468
### FINAL REPORT OUTPUT SAMPLE:
[MDE 8 - TeamLeader - 468 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2723988/MDE.8.-.TeamLeader.-.468.-.FINAL.OUTPUT.pdf)

[2019-01-03 14:11] HollySchuelerKCI commented on #469
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-03 14:31] Tad-Daniel commented on #470
All three reports are accepted

[2019-01-03 15:16] Tad-Daniel commented on #420
I tested in staging and it is still happening.    logged in as "inspector role"   when I reset the search field under the projects tab the delete button appeared

[2019-01-03 15:34] vijme commented on #420
This is a latest issue logged as #479 and had been fixed in dev. The fix is not available in staging yet.

[2019-01-03 16:37] sgpapakirk commented on #446
Sorry @HollySchuelerKCI, to be consistent with the https://github.com/kcigeospatial/sha_oed_issues/issues/449 ticket, I have now made the Disclaimer fields to be little smaller, 7.75pt.
Viji will deploy it soon.

[2019-01-03 16:39] sgpapakirk commented on #449
@HollySchuelerKCI, I have now made the Disclaimer fields to be little smaller, 7.75pt.
I also did the same change in the https://github.com/kcigeospatial/sha_oed_issues/issues/449 ticket to be consistent.
Viji will deploy them both soon.

[2019-01-03 18:47] HollySchuelerKCI commented on #449
This report has been successfully validated by the project team in the **_Development Environment._**

[2019-01-03 19:20] Tad-Daniel commented on #449
Looks good

[2019-01-03 19:36] HollySchuelerKCI commented on #449
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-03 19:39] HollySchuelerKCI commented on #449
### FINAL REPORT OUTPUT SAMPLE:
[IEM 4 - EnvironmentalImpactReport - 449 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2725089/IEM.4.-.EnvironmentalImpactReport.-.449.-.FINAL.OUTPUT.pdf)

[2019-01-03 20:02] vijme commented on #456
All changes to InspectionQA1 applied to this report type as well.

[2019-01-04 14:08] Tad-Daniel commented on #456
Everything looks goods  Please ensure that the attachment description is include on the page with the photo.

[2019-01-04 19:05] vijme commented on #428
Implemented in dev. To be tested for OOC61(09/02/2005) and OOC61.1-09012005 types (Graded, No grade, draft, final )

[2019-01-04 19:34] vijme commented on #456
@Tad-Daniel, it is verified that the description is included on the photo attachment page, (As it has always been, we cannot include description on a pdf attachment though).

Please see the example report below

[QAInsp_123333_20181203_sampleattachment.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2728262/QAInsp_123333_20181203_sampleattachment.pdf)

[2019-01-07 15:33] HollySchuelerKCI commented on #456
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-07 19:35] HollySchuelerKCI commented on #428
Both OOC61(09/02/2005) and OOC61.1-09012005 types (Graded, No grade, Draft, and Final ) have been successfully tested by the project team in the **_Development Environment._**

[2019-01-07 20:16] vijme commented on #442
Implemented in dev. The original report has an issue. It repeats each issue for the total number of issue times.  This has been fixed and each issue shows up only once.

[2019-01-08 13:53] HollySchuelerKCI commented on #442
This report has been validated by the project team in the **_Development Environment._**

[2019-01-08 15:52] vijme commented on #453
Implemented in dev

[2019-01-08 20:30] HollySchuelerKCI commented on #453
This report has been validated by the project team in the **_Development Environment._**

[2019-01-09 19:19] Tad-Daniel commented on #428
I checked them and they all look god .  One final change is attached.  With this adjustment everything should be good.
[QAInsp_000111_20180410.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2742246/QAInsp_000111_20180410.pdf)

[2019-01-09 20:09] HollySchuelerKCI commented on #475
This issue has been successfully validated by the project team in the **_Staging Environment._**

[2019-01-09 20:40] HollySchuelerKCI commented on #478
This issue has been successfully tested in the **_Staging Environment._**

[2019-01-09 20:57] HollySchuelerKCI commented on #477
This issue has been successfully validated by the project team in the **_Staging Environment._**

[2019-01-09 21:04] vijme commented on #428
Nice Catch. Corrected the issue in all the report types

[2019-01-09 21:22] HollySchuelerKCI commented on #476
This issue has been successfully tested in the **_Staging Environment._**

[2019-01-09 21:41] HollySchuelerKCI commented on #474
This issue has been successfully validated in the **_Staging Environment._**

[2019-01-10 03:10] sgpapakirk commented on #451
@HollySchuelerKCI, I have now finished coding this report.
First note that there is a second way to generate this report:
1) Log into the EM Toolkit.
2) From the Inspections tab, select a project from the list.
3) Click now on the Issues tab.
4) From the Issues list select a record, and click on its second "Edit" (pencil) icon.
5) Go to the bottom of this page and click on the shown "Report" butto

[2019-01-10 13:32] HollySchuelerKCI commented on #428
This issue has been corrected in the **_Development Environment._**

@Tad-Daniel please confirm at your earliest convenience.

[2019-01-10 16:13] Tad-Daniel commented on #479
Working correctly

[2019-01-10 16:14] Tad-Daniel commented on #478
working correctly

[2019-01-10 16:22] Tad-Daniel commented on #477
The form looks good but the data is wrong.    It puts the YC number in the space where the individuals name should be.

[2019-01-10 16:26] Tad-Daniel commented on #475
working correctly

[2019-01-10 16:27] HollySchuelerKCI commented on #479
This issue has been confirmed by the stakeholder in the **_Staging Environment._**

[2019-01-10 16:27] Tad-Daniel commented on #474
working correctly

[2019-01-10 16:28] HollySchuelerKCI commented on #478
This issue has been confirmed by the stakeholder in the **_Staging Environment._**

[2019-01-10 16:30] HollySchuelerKCI commented on #474
This issue has been confirmed by the stakeholder in the **_Staging Environment,_**

[2019-01-10 16:42] Tad-Daniel commented on #476
Having trouble with the staging env. sending me an email.

[2019-01-10 18:03] Tad-Daniel commented on #428
Looks good

[2019-01-10 18:04] Tad-Daniel commented on #426
Looks good

[2019-01-10 18:04] HollySchuelerKCI commented on #428
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-10 18:07] HollySchuelerKCI commented on #426
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-10 18:13] HollySchuelerKCI commented on #428
### FINAL REPORT OUTPUT SAMPLE:
[QA 6 - Inspection - 428 - FINAL OUPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2746566/QA.6.-.Inspection.-.428.-.FINAL.OUPUT.pdf)

[2019-01-10 18:15] Tad-Daniel commented on #442
Looks good

[2019-01-10 18:16] HollySchuelerKCI commented on #426
### FINAL REPORT OUTPUT SAMPLE:
[QA 7 - InspectionQAOne - 426 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2746571/QA.7.-.InspectionQAOne.-.426.-.FINAL.OUTPUT.pdf)

[2019-01-10 18:17] HollySchuelerKCI commented on #442
This report has been successfully validated by the stakeholder in the **_Development Environment._**

[2019-01-10 18:18] Tad-Daniel commented on #453
Looks good

[2019-01-10 18:18] HollySchuelerKCI commented on #442
### FINAL REPORT OUTPUT SAMPLE:
[IEM 8 - ProjectStatus - 442 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2746578/IEM.8.-.ProjectStatus.-.442.-.FINAL.OUTPUT.pdf)

[2019-01-10 18:21] HollySchuelerKCI commented on #453
### FINAL REPORT OUTPUT SAMPLE:
[IEM 7 - IssueSummaryReport - 453 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2746585/IEM.7.-.IssueSummaryReport.-.453.-.FINAL.OUTPUT.pdf)

[2019-01-10 18:32] HollySchuelerKCI commented on #456
### FINAL REPORT OUTPUT SAMPLE:
[QA 8 - InspectionWeighted - 456 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2746610/QA.8.-.InspectionWeighted.-.456.-.FINAL.OUTPUT.pdf)

[2019-01-10 18:50] vijme commented on #477
Issue corrected in dev and STAGING

[2019-01-10 19:06] vijme commented on #451
Deployed to dev

[2019-01-10 19:09] Tad-Daniel commented on #477
Looks Good

[2019-01-10 19:18] Tad-Daniel commented on #476
It must be my state email.  I had it sent to my personal email and it worked fine.

Looks good

[2019-01-10 19:20] HollySchuelerKCI commented on #477
This issue has been validated by both the project team and the stakeholder in the **_Staging Environment._**

[2019-01-10 19:21] HollySchuelerKCI commented on #476
This issue has been validated by the stakeholder in the **_Staging Environment._**

[2019-01-10 19:36] sgpapakirk commented on #449
@HollySchuelerKCI, for this ticket I have implemented a change in the top header's green drop shadow. Previously if for some reason the shown fields would take more than 1 line, that would then push the rectangle's height, but it would have broken the looks of this custom green drop shadow.
I have implemented a new technique for it that allows vertical expansion. I researched and implemented it or

[2019-01-10 19:42] HollySchuelerKCI commented on #451
@sgpapakirk Here are some comments based on testing:

1. Please fix alignment issues for Issue Number. It appears to be justified to the right.
![image](https://user-images.githubusercontent.com/25441512/50992438-302f8e00-14e5-11e9-8a2c-c825d6d10de8.png)

Regarding the header comment above, we will wait for stakeholder feedback.

[2019-01-10 19:49] sgpapakirk commented on #451
@HollySchuelerKCI indeed I will fix this now! I just did this change minutes ago before Viji deployed. The original Crystal Reports was formatting this "Issue Number" field's data using 2 decimals, like say "3.00".
I removed this formatting, because in the system these are whole numbers.
I noticed say the my current https://github.com/kcigeospatial/sha_oed_issues/issues/452 : IEM6 -  IssueDetailsR

[2019-01-10 20:36] sgpapakirk commented on #451
@HollySchuelerKCI , Viji just finished deploying this small formatting fix.

[2019-01-10 20:39] HollySchuelerKCI commented on #451
This report has been successfully validated by the project team in the **_Development Environment._**

[2019-01-11 16:09] HollySchuelerKCI commented on #449
This update has been validated by the project team.

[2019-01-11 16:13] HollySchuelerKCI commented on #446
This update has been validated by the project team.

[2019-01-12 00:58] sgpapakirk commented on #452
@HollySchuelerKCI, I have now finished coding this report.
I jhave just merged my "Stylianos_Dev" code branch into the "master" and the "viji-reports" branches.

Note that:
1) The original Crystal Report was never showing anything in the Status field!!
   I moved it first to the right side. I also now show its value by using the same STAT_NAME field
   as previous IEM reports do, but from the curr

[2019-01-12 02:51] vijme commented on #452
Deployed

[2019-01-14 18:03] HollySchuelerKCI commented on #452
@sgpapakirk This report looks good.  I do have one minor modification to the report.

It appears that when there are (2) plan sheets associated to the issue, it will overlap the Disclaimer statement. Can you add a space so that the two dont crowd the other?

I've taken a screenshot, which you will see below:

![image](https://user-images.githubusercontent.com/25441512/51131099-b6591680-17fc-11e9-9

[2019-01-14 21:01] sgpapakirk commented on #452
Hello @HollySchuelerKCI. Indeed I was able to replicate this issue, which was primarily happening say with 2 Plan Sheets.
I have now set the VerticalAlign property to be "Bottom" in the "Disclaimer:" and the "Recommendations are made..." textboxes. Then I believe we will always have sufficient distance from the top "Plan Sheets" or the "Impact Plates" lists.
Please note that I have done in this sm

[2019-01-14 22:15] vijme commented on #452
Deployed

[2019-01-15 13:30] HollySchuelerKCI commented on #452
This report has been validated by the project team in the **_Development Environment._**

[2019-01-16 14:33] slmessier commented on #435
@Tad-Daniel  - could you please provide a description of what youre expecting to see that is not occurring? a screencap annotation may be most effective.

are you otherwise comfortable accepting at this time?

[2019-01-16 17:28] slmessier opened #480 "QA Toolkit - Update Email Notification Text - New Account Created Notification"
**Correct spelling error in body of email notification:** "state" is missing the "e" within the string for Tad's email address

![image](https://user-images.githubusercontent.com/4098544/51266677-e5e95980-1989-11e9-8642-1e7e60054e2e.png)

Related #206

[2019-01-16 17:38] slmessier opened #481 "IEM Toolkit - PDF Reports Not Generating / Produce Error"
The reports within the IEM toolkit are currently not generating successfully.

From stakeholder (TDaniel) via email 1/16 - "Seems reports will not save, the process circle just keeps spinning."

[2019-01-16 21:59] sgpapakirk commented on #445
@HollySchuelerKCI I found these other ways that this "Project Details" report is generated:

3rd way:
1) Still in the QA Toolkit, click on the top right side's "Admin" tab.
2) Click in the shown "Data Cleanup" tab.
3) In this "Project Duplicates" page, in the shown grid, pick any row and click on its 4th "Print" icon (a printer).

Unfortunately for now the following 4th and 5th way don't currently

[2019-01-17 16:41] slmessier commented on #454
@Tad-Daniel  - You may recall this report has never been functional as the toolkit was inherited without the UI code to successfully connect this report to the toolkit database.

**Please provide authorization to "close" the work item within the context of WO 23 using the approach below.** This plans reflects conversations we have agreed to verbally, just looking to get our approach on record:

1.

[2019-01-17 17:10] vijme commented on #481
The following issues are corrected in IEM toolkit (and MDE toolkit)

1. Issue list page, "PRINT" keeps spinning, issue fixed
2. Project page, list PRINT button, options unrelated to IEM toolkit are removed
3. Project page, list PRINT popup panel, CANCEL keeps spinning - Issue fixed
4. Project page, PRINT PROJECT DETAIL  issue fixed.
5. Project Selector, PRINT PROJECT DETAIL issue fixed.
6. Admin->

[2019-01-17 17:10] vijme commented on #480
Issue fixed

[2019-01-17 17:26] Tad-Daniel commented on #481
We missed the actual issue.    Open a new daily inspection and try to SAVE it.  The wheel keeps spinning and it never save the report.

[2019-01-17 17:34] Tad-Daniel commented on #435
I figured it out.   Drafts do not show and it is functioning correctly.     This is acceptable

[2019-01-17 17:34] Tad-Daniel commented on #480
looks good

[2019-01-17 17:37] slmessier commented on #481
@vijme - my apologies on the miscommunication of encountered error. **Please investigate issue being reported with the "New Daily Inspection" form**. Additional testing results insight below:

1. I**ssue replicated in all DEV, STAGING, & PROD environments**

2. Steps to Replicate
![image](https://user-images.githubusercontent.com/4098544/51337195-77250280-1a54-11e9-8844-6bd4a3d928a1.png)

[2019-01-17 17:39] HollySchuelerKCI commented on #435
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-17 17:43] HollySchuelerKCI commented on #435
### FINAL REPORT OUTPUT SAMPLE:
[QA 4 - QAInspectionGradeLog - 435 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2769887/QA.4.-.QAInspectionGradeLog.-.435.-.FINAL.OUTPUT.pdf)

[2019-01-17 17:54] Tad-Daniel commented on #454
I agree

[2019-01-17 18:05] Tad-Daniel commented on #452
Looks good, accepted

[2019-01-17 18:06] HollySchuelerKCI commented on #452
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-17 18:07] Tad-Daniel commented on #451
Looks good - accepted

[2019-01-17 18:08] vijme commented on #481
Issue fixed, please note that STATUS is a required field, the form saves after STATUS is filled

[2019-01-17 18:08] HollySchuelerKCI commented on #452
### FINAL REPORT OUTPUT SAMPLE:
[IEM 6 - IssueDetailsReport - 452 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2769991/IEM.6.-.IssueDetailsReport.-.452.-.FINAL.OUTPUT.pdf)

[2019-01-17 18:10] HollySchuelerKCI commented on #451
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-17 18:12] HollySchuelerKCI commented on #451
### FINAL REPORT OUTPUT SAMPLE:
[IEM 5 - IssInsp - 451 - FINAL OUTPUT.pdf](https://github.com/kcigeospatial/sha_oed_issues/files/2770008/IEM.5.-.IssInsp.-.451.-.FINAL.OUTPUT.pdf)

[2019-01-17 19:21] HollySchuelerKCI commented on #481
This issue has been validated by the project team in the Development and Staging Environments.

[2019-01-17 20:01] HollySchuelerKCI commented on #481
@vijme The above (6) workflows have been validated in both IEM and MDE toolkits.

Are there any additional items you need tested / validated?

[2019-01-17 20:07] vijme commented on #481
@HollySchuelerKCI, We need to make sure if QA toolkit works as expected for the above functionalities, nothing else

[2019-01-17 21:17] HollySchuelerKCI commented on #481
The above are functioning correctly in QA Toolkit.

[2019-01-18 14:16] slmessier commented on #481
@Tad-Daniel - Viji has the issue fixed, please note that STATUS is a required field, the form saves after STATUS is filled.

**Please confirm in DEV: http://oed.kci.com/SHAPORTAL/ We can deploy to STAGING as soon as this has cleared your validation.** Thank you!

[2019-01-18 14:21] Tad-Daniel commented on #481
Working properly

[2019-01-18 16:22] HollySchuelerKCI commented on #480
This issue has been validated in both the development and staging environments.

[2019-01-18 16:32] HollySchuelerKCI commented on #481
This issue has been validated by the project stakeholder.

[2019-01-19 22:38] Tad-Daniel commented on #481
Issue resolved. Accepted

[2019-01-19 22:41] Tad-Daniel commented on #480
Issue will be tested with next new account creation.  Issue is acceptable at this time

[2019-01-25 20:43] vijme commented on #454
This report has been implemented using the developers design. Besides, Some UI aspects of the page like buttons and alignment have been fixed. (In comments response page). Please let me know if there needs to be any additions/modifications in the report.

[2019-01-28 14:46] HollySchuelerKCI commented on #454
This report has been validated by the project team in the **_Development Environment._**

[2019-01-29 14:18] Tad-Daniel commented on #454
Looks good in dev. ready for staging

[2019-01-29 14:19] HollySchuelerKCI commented on #454
This report has been validated by the stakeholder in the **_Development Environment._**

[2019-01-29 17:47] HollySchuelerKCI commented on #460
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 17:51] HollySchuelerKCI commented on #461
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 17:57] HollySchuelerKCI commented on #448
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 18:00] HollySchuelerKCI commented on #443
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 18:10] HollySchuelerKCI commented on #441
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 20:49] HollySchuelerKCI commented on #454
This report has been validated by project team in the **_Staging Environment._**

[2019-01-29 20:55] HollySchuelerKCI commented on #445
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 20:57] HollySchuelerKCI commented on #444
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 21:03] HollySchuelerKCI commented on #450
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 21:09] HollySchuelerKCI commented on #446
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 21:12] HollySchuelerKCI commented on #447
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 21:19] HollySchuelerKCI commented on #449
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 21:33] HollySchuelerKCI commented on #451
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-29 21:48] HollySchuelerKCI commented on #452
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 11:54] HollySchuelerKCI commented on #453
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 12:02] HollySchuelerKCI commented on #442
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 12:40] HollySchuelerKCI commented on #470
1. EPD - Sorted by Team Leader
     - The PDF and Excel reports have been successfully validated by the project team in the **_Staging Environment._**

2. EPD - Sorted by Ad / Due, Bid, Prod
     - The PDF and Excel reports have been successfully validated by the project team in the **_Staging Environment._**

3. EPD - Sorted by Contract #
     - The PDF and Excel reports have been successfully va

[2019-01-30 12:57] HollySchuelerKCI commented on #469
This report, including sub-reports have been validated by the project team in the **_Staging Environment._**

[2019-01-30 13:08] HollySchuelerKCI commented on #463
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 13:16] HollySchuelerKCI commented on #464
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 13:24] HollySchuelerKCI commented on #472
This report including sub-reports have been validated by the project team in the **_Staging Environment._**

[2019-01-30 13:36] HollySchuelerKCI commented on #465
This report including sub-reports have been validated by the project team in the **_Staging Environment._**

[2019-01-30 13:44] HollySchuelerKCI commented on #466
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 13:56] HollySchuelerKCI commented on #467
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 14:10] HollySchuelerKCI commented on #468
This report including sub-reports have been validated by the project team in the **_Staging Environment._**

[2019-01-30 14:19] HollySchuelerKCI commented on #471
This report including sub-reports have been validated by the project team in the **_Staging Environment._**

[2019-01-30 14:35] HollySchuelerKCI commented on #429
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 14:45] HollySchuelerKCI commented on #434
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 15:10] HollySchuelerKCI commented on #431
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 15:19] HollySchuelerKCI commented on #438
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 15:34] HollySchuelerKCI commented on #433
@vijme I noticed an issue while testing in staging:

It appears that Q4 data under Percentage of compliance on erosion/sediment control ratings section is not displaying accurately in the bar graph. See screen capture below:
![image](https://user-images.githubusercontent.com/25441512/51991614-725f4600-2479-11e9-91ba-997b0f5c841c.png)

I tested FY 2014 All districts, and 2013 All Districts and the

[2019-01-30 15:38] HollySchuelerKCI commented on #439
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 15:46] HollySchuelerKCI commented on #425
This report has been validated by the project team in the **_Staging Enviornment._**

[2019-01-30 16:22] HollySchuelerKCI commented on #440
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 17:03] HollySchuelerKCI commented on #424
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 17:07] HollySchuelerKCI commented on #430
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 17:13] HollySchuelerKCI commented on #457
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 18:01] HollySchuelerKCI commented on #458
This report has been successfully validated by the project team in the **_Staging Environment._**

[2019-01-30 18:12] HollySchuelerKCI commented on #459
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 18:16] HollySchuelerKCI commented on #436
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 18:39] HollySchuelerKCI commented on #435
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 18:53] HollySchuelerKCI commented on #427
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 19:06] HollySchuelerKCI commented on #428
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 19:37] HollySchuelerKCI commented on #426
@vijme It appears that line item 3.7.3 in the QA1 report is misplaced.

![image](https://user-images.githubusercontent.com/25441512/52006753-e5c57f80-249a-11e9-9021-5f5572094ac8.png)

Here is the project / contract information:
![image](https://user-images.githubusercontent.com/25441512/52006983-74d29780-249b-11e9-8d2c-819b315d3ce7.png)

I could not replicate this misplacement with other QA1 forms

[2019-01-30 19:45] HollySchuelerKCI commented on #456
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 19:51] vijme commented on #433
@HollySchuelerKCI , the issue here is the graph range is set from 95 - 100. It is expected in PROD to be in the value range. Since this is test data, there are values below 95% and they don't show on graph.

[2019-01-30 19:53] HollySchuelerKCI commented on #433
@vijme Thank you for confirming.

[2019-01-30 19:55] HollySchuelerKCI commented on #437
This report has been validated by the project team in the **_Staging Environment._**

[2019-01-30 20:34] vijme commented on #426
@HollySchuelerKCI , Its very strange that we get the misplacement. I am not able to reproduce this in DEV on any other inspection. Will you be able to create a very similar inspection on DEV and try to reproduce

[2019-01-30 20:53] HollySchuelerKCI commented on #426
The above referenced issue has been corrected and the project team confirmed the table is sorting correctly in the **_Staging Environment._**

[2019-01-31 13:34] HollySchuelerKCI commented on #432
This report has been validated by the project team in the **_Staging Environment._**

For testing purposes, please use 7/1/2016 - 6/3/2017 as the report date range.

[2019-01-31 13:34] HollySchuelerKCI commented on #473
This report has been validated by the project team in the **_Staging Environment._**

For testing purposes, please use 7/1/2016 - 6/3/2017 as the report date range.

[2019-02-08 15:38] HollySchuelerKCI opened #482 "QA Toolkit - Automatic F Grade Removes Grade Checkbox with QA1 Report"
When an automatic F grade occurs by selecting 1.1, 1.2 or 1.3 the PDF should not include the scoring grid as it is an automatic (this is working).

**_The issue is when the scoring grid is removed from the current PDF version the grade checkbox’s are removed also.  The grade check box’s should remain._**

### **Current Report:**
![image](https://user-images.githubusercontent.com/25441512/52488060-

[2019-02-08 16:52] HollySchuelerKCI commented on #482
This issue has been successfully validated by the project team in the **_Development Environment._**

[2019-02-08 19:44] Tad-Daniel commented on #482
I checked in the development environment and it appears to work correctly.

[2019-02-08 19:45] vijme commented on #482
Will deploy to PROD tonight

[2019-02-08 20:22] Tad-Daniel commented on #482
Excellent

Thanks

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Viji Selvamani <notifications@github.com>
Date: 2/8/19 2:45 PM (GMT-05:00)
To: kcigeospatial/sha_oed_issues <sha_oed_issues@noreply.github.com>
Cc: Tad Daniel <tdaniel@sha.state.md.us>, Comment <comment@noreply.github.com>
Subject: Re: [kcigeospatial/sha_oed_issues] QA Toolkit - Automatic F

[2019-02-09 16:00] vijme commented on #482
Updated the fix on STAGING and PROD.

[2019-02-11 14:06] slmessier commented on #482
@Tad-Daniel - fix is live in PROD, please confirm at your convenience.

[2019-02-12 13:11] HollySchuelerKCI commented on #482
This issue has been validated by the project team in both the **_Staging and Production Environments._**

[2019-02-12 13:23] HollySchuelerKCI opened #483 "QA Toolkit - Expiration Date Not Displaying on QA1 Report"
On the OOC1 / QA1 report, the **Expiration Date** found on page 1 is not displaying. The stakeholder believes it may be due to spacing / margins.

![image](https://user-images.githubusercontent.com/25441512/52638059-0d571780-2e9f-11e9-8486-373fb6971e2e.png)

_Note: Originally requested via email from T. Daniel 2/11_

[2019-02-12 13:26] HollySchuelerKCI commented on #483
Upon initial investigation, the issue described above has existed since the conversion to crystal reports.

The fix has been corrected in the **_Development Environment._**

_Note: Originally commented vial email from V. Selvamani on 2/11_

[2019-02-12 13:28] HollySchuelerKCI commented on #483
This issue has been validated by the project team in the **_Development Environment._**

[2019-02-12 13:47] HollySchuelerKCI commented on #483
This issue has been validated in the **Staging Environment.**

[2019-02-14 14:39] HollySchuelerKCI opened #484 "QA Toolkit - MOD Number Incorrect on OOC62 / QA3 Report"
Stakeholders noticed an issue with OOC62 / QA3 Report displaying an incorrect MOD Number.

### Steps to Replicate:
1. In DEV, locate Contract # 00000002 Test- mod requests
2. Click the Mods sub menu
3. Click the PDF button for **MOD3**
![image](https://user-images.githubusercontent.com/25441512/52793566-0285b980-303c-11e9-994b-361a884ec679.png)

4.  On the first page, the Modification Number is in

[2019-02-14 14:57] vijme commented on #484
Issue fixed in all 3 environments

[2019-02-14 15:08] HollySchuelerKCI commented on #484
This issue has been validated by the project team in all (3) environments.

[2019-03-12 15:02] slmessier opened #485 "QA Toolkit - OOC62/QA-3 PDF Form - Bug in Logic that Populates Landscape Ops. Approved By Value"
On the OOC62/QA-3 PDF page 2 **the "Landscape Ops Approved by:"  value always shows as “Awaiting Approval" no matter if Landscape is necessary or not. Please investigate and reconcile.**

![image](https://user-images.githubusercontent.com/4098544/54210489-f7487100-44b5-11e9-9f34-ea6cd1846230.png)

A specific project ID has been requested from Stakeholders and will be attached to the issue when it

[2019-03-12 15:43] slmessier opened #486 "QA Toolkit - Unrecoverable Error Occurrence - Investigate Potential MS Edge Browser Issue?"
Sometimes the unrecoverable error screen pops up when trying to upload documents.   This seems to be related to MS EDGE in Win 10 most of the time.

**Please investigate whether the issue is being thrown by the MS EDGE browser in Win 10 distinctly, or whether there is something else going on....What methods are available to reconcile?**

[2019-03-13 16:00] vijme commented on #485
Issue fixed in dev

[2019-03-13 16:55] HollySchuelerKCI commented on #485
This issue has been successfully validated by the project team in the **_Development Environment._**

[2019-03-20 17:48] slmessier commented on #485
@Tad-Daniel  could you please test / confirm in DEV app at your earliest convenience?
http://oed.kci.com/SHAPORTAL/

[2019-04-05 10:23] Tad-Daniel commented on #485
Appears to be fixed in DEV

[2019-04-05 12:55] HollySchuelerKCI commented on #485
This issue has been validated by the project stakeholder in the **_Development Environment._**

[2019-05-07 17:26] slmessier opened #487 "QA Toolkit - UI Label Modification - "Final Incentive" to "Total Incentive""
Please modify the text terminology UI Label associated with the **QA incentives subtab (on Project Details): Update "Final Incentive" to "Total Incentive".**

![image](https://user-images.githubusercontent.com/4098544/57319500-b2624480-70ca-11e9-800d-e99b6948f9be.png)

[2019-05-07 19:58] #423 closed

[2019-05-07 19:58] #424 closed

[2019-05-07 19:58] #425 closed

[2019-05-07 19:58] #426 closed

[2019-05-07 19:58] #427 closed

[2019-05-07 19:58] #428 closed

[2019-05-07 19:58] #429 closed

[2019-05-07 19:58] #430 closed

[2019-05-07 19:58] #431 closed

[2019-05-07 19:58] #432 closed

[2019-05-07 19:58] #433 closed

[2019-05-07 19:58] #434 closed

[2019-05-07 19:58] #435 closed

[2019-05-07 19:58] #436 closed

[2019-05-07 19:58] #437 closed

[2019-05-07 19:58] #438 closed

[2019-05-07 19:58] #439 closed

[2019-05-07 19:58] #440 closed

[2019-05-07 19:58] #441 closed

[2019-05-07 19:58] #442 closed

[2019-05-07 19:58] #443 closed

[2019-05-07 19:58] #444 closed

[2019-05-07 19:58] #445 closed

[2019-05-07 19:58] #446 closed

[2019-05-07 19:58] #447 closed

[2019-05-07 19:58] #448 closed

[2019-05-07 19:58] #449 closed

[2019-05-07 19:58] #450 closed

[2019-05-07 19:58] #451 closed

[2019-05-07 19:58] #452 closed

[2019-05-07 19:58] #453 closed

[2019-05-07 19:58] #454 closed

[2019-05-07 19:58] #455 closed

[2019-05-07 19:58] #456 closed

[2019-05-07 19:58] #457 closed

[2019-05-07 19:58] #458 closed

[2019-05-07 19:58] #459 closed

[2019-05-07 19:58] #460 closed

[2019-05-07 19:58] #461 closed

[2019-05-07 19:58] #462 closed

[2019-05-07 19:58] #463 closed

[2019-05-07 19:58] #464 closed

[2019-05-07 19:58] #465 closed

[2019-05-07 19:58] #466 closed

[2019-05-07 19:58] #467 closed

[2019-05-07 19:58] #468 closed

[2019-05-07 19:58] #469 closed

[2019-05-07 19:58] #470 closed

[2019-05-07 19:58] #471 closed

[2019-05-07 19:58] #472 closed

[2019-05-07 19:58] #473 closed

[2019-05-08 17:34] Tad-Daniel commented on #486
No need to investigate further

[2019-05-09 13:16] vijme commented on #487
Item implemented in dev

[2019-06-13 14:11] slmessier opened #488 "High Priority User Support Request - Disk Space Likely At Capacity (Error w/ Print-to-PDF, Notifications, & Attachments)"
## Issue Description:

(Appears as disk capacity issue w D drive)
Users have reported experiencing an issue with the system in which the generalized "unrecoverable error in the application" message is being displayed and obstructing any further interaction

**1.       Print to PDF (QA1 Inspection)
2.       Notifications
3.       Uploading Documents**

## Email Correspondence:

From: Scott Messier

[2019-06-13 14:49] slmessier commented on #488
An increase of an additional 30GB was added to D Drive at the time of this writing. 30GB was determined as an estimate to extend operations to 3/18/2020 (assuming a growth rate of ~3 GB per month @ 10 months).

[2019-06-13 14:50] slmessier commented on #488
## Email Confirmation from Stakeholders

From: Tad Daniel [mailto:tdaniel@mdot.maryland.gov]
Sent: Thursday, June 13, 2019 10:43 AM
To: Scott Messier <Scott.Messier@kci.com>
Cc: Viji Selvamani <viji.selvamani@ecointegration.com>
Subject: RE: QA Toolkit error

Just tried several items in the toolkits and everything seems to be back to normal

Thanks for the help

From: Scott Messier [mailto:Scott.M

[2019-06-13 14:52] slmessier commented on #488
This issue is assumed resolved. However, as a form of additional validation, it will be kept open to validate resolved functionalities for an additional period (of ~1-4 weeks).

[2019-06-20 11:07] slmessier opened #489 "High Priority User Support Request - PROD Toolkit Inaccessible"
The PROD environment Toolkit is not currently loading. DEV and STAGING launch as expected without issue. @vijme - please investigate with immediate priority.

[2019-10-16 14:53] slmessier opened #490 "All (3) Toolkits - Cancel Delete Function"
### The MDE Toolkit is not responding appropriately when users cancel the workflow to delete a review (Reviews Menu).

### The IEM Toolkit is not responding appropriately when users cancel the workflow to delete a permit (Permits Menu).

### The QA Toolkit is not responding appropriately when users cancel the workflow to delete a permit (Permits Menu).

**Steps to Replicate:**
1. On the Reviews Me

[2019-10-17 19:11] slmessier opened #491 "IEM & MDE (2) Toolkits - Admin Update Existing User - Error Msg & Unable to Save"
### The MDE Toolkit is not responding appropriately when users execute the workflow to update an existing user within the Admin menu functions.

### The IEM Toolkit is not responding appropriately when users execute the workflow to update an existing user within the Admin menu functions.

### (The QA Toolkit does not appear to be impacted by this issue.)

**Steps to Replicate:**
1. In the Admin Me

[2019-10-17 20:05] slmessier commented on #491
@vijme this issue is preventing testing across multiple system profiles as I am unable to update my user profile. Could you please process with high priority so that we are able to proceed? Thank you!

@HollySchuelerKCI fyi

[2019-10-17 20:20] vijme commented on #491
@slmessier, this issue is due to the fact that I updated the database for development. Didn’t realize that both dev and testing are working on same db. If we dont see any major changes, then i think it would be ideal to push the current code into testing. I can do that tomorrow. What do you day?

[2019-10-18 16:05] HollySchuelerKCI opened #492 "QA Toolkit - Error Creating New MOD"
An error has occurred in the QA Toolkit when the user selects "New Request" when creating a new MOD.

### **Steps to Replicate:**
1. Inspections -> QA Tab
2. Select a Project
![image](https://user-images.githubusercontent.com/25441512/67109556-c1cbda80-f19e-11e9-87d4-c3ebd8782cf2.png)
3.  Select MODS Tab
![image](https://user-images.githubusercontent.com/25441512/67109885-736b0b80-f19f-11e9-91c8-1

[2019-10-18 16:47] HollySchuelerKCI opened #493 "QA Toolkit - QA3 Error"
An error has occurred when the user selects the QA3 button in the QA Toolkit.

Steps to Replicate:
1.Inspections -> QA Tab
2. Select a Project
![image](https://user-images.githubusercontent.com/25441512/67110519-f3de3c00-f1a0-11e9-82ba-2f391df6ce31.png)
3. Select MODS Tab
![image](https://user-images.githubusercontent.com/25441512/67110559-0b1d2980-f1a1-11e9-9db2-6049664e59b5.png)
4. Click QA3 But

[2019-10-18 16:52] HollySchuelerKCI opened #494 "QA Toolkit - Print Detailed PDF of QA Calendar"
An issue has occurred when the user would like to print the QA Calendar while selected Detailed PDF.

### **Steps to Replicate:**
1. Inspections -> QA Calendar
2. Expand Search Panel
![image](https://user-images.githubusercontent.com/25441512/67112708-d65fa100-f1a5-11e9-867f-91ee4a9fb4d8.png)
3. Click Print
4. Select Detailed PDF
![image](https://user-images.githubusercontent.com/25441512/67112765

[2019-10-31 19:15] slmessier opened #495 "QA Toolkit - Expired Password Prompt Worklfow - Old Password String Not Accepted"
### QA Toolkit Expired Password / Update User Password Worfklow:
When the QA toolkit system detects an expired user password upon log in, and then presents the prompt to update password, **the system is not accurately parsing the "Old Password" information. Instead it rejects my old password string as invalid**.

Note - this will trigger user account to lock after 3 unsuccessful attempts.
![PWProm

[2019-10-31 19:22] slmessier commented on #495
this issue has been resolved by Viji and was communicated to Scott through MS Teams conversation.
 I can validated successfull update of password at this time:
![image](https://user-images.githubusercontent.com/4098544/67979267-49c7d080-fbf2-11e9-81e8-9ac0140c9ce5.png)

[2019-11-01 15:46] slmessier opened #496 "All Toolkits - Update Text Splash Screen based on SHA Revision to Spec"
**Please update the text that is displayed as a splash screen for all toolkits based on the following 2 revisions requested by SHA stakeholders (email from A. Bhatia on 11/1/2019):**

**1. Update the word “understand” to “understood”**
**2. Update/Capitalize the text "user policy" to "User Policy"**

### Complete Updated Text Below:
Warning!!! ACCESS to this system is restricted to authorized user

[2019-11-01 19:39] vijme commented on #496
Issue fixed and ready for testing

[2019-11-05 21:56] slmessier opened #497 "All Toolkits - Update Base Graphics & Landing Page"
Use the provided graphic files to **implement each of the (4) following updates to basic branding**:

1. Update **landing page** to use the new graphics.
1. Update the **yellow card picture on each of the (3) login pages**
1. Implement **new footer** with (1) copyright text (2) contact us hyperlink to email system administrator.
1. Implement **(4) new UI Buttons**: OK, I Agree, Login, Update PW

#

[2019-11-06 17:32] vijme commented on #497
Item completed and ready for testing

[2019-11-06 17:33] vijme commented on #494
Issue fixed and ready for testing

[2019-11-06 20:46] slmessier opened #498 "IEM Toolkit - Implement New Status Value: "Permit Violation""
### In_ the IEM toolkit - Implement a New Status Value for "Permit Violation"
1. **On the Inspections menu - Add a new value to the "Status" dropdown Menu for “Permit Violation”**, and ensure it shows on associated pages and forms.
![image](https://user-images.githubusercontent.com/4098544/68334836-6445f200-00a9-11ea-93d8-9dd44205b488.png)

1. **On the "Inspections-View" menu's grid, display text

[2019-11-06 20:55] slmessier commented on #498
@AndyWuKCI please let me know if you have any questions interpreting the scope of specifications, and then coordinate w @vijme for initiating development.

[2019-11-06 22:00] slmessier commented on #497
@vijme updated Yellow Card Graphic and Unlock Button attached to this issue

[2019-11-07 17:37] vijme commented on #497
All images updated and ready for testing

[2019-11-07 17:38] vijme commented on #498
Issue fixed and ready for testing

[2019-11-07 17:38] vijme commented on #493
Issue fixed and ready for testing

[2019-11-07 17:39] vijme commented on #492
Issue fixed and ready for testing

[2019-11-07 20:37] HollySchuelerKCI opened #499 "QA Toolkit - Reference Docs Landing Page"
_Test results that were initiated on 11/7/2019_

The following (3) items were identified when comparing hyperlink functionality available on the Reference Document Section of the QA Toolkit Landing Page.

**1. The list of Reference Docs in development does **NOT** match the list currently in Production.**

Dev Environment:
![image](https://user-images.githubusercontent.com/25441512/68425315-daaf26

[2019-11-07 20:49] HollySchuelerKCI opened #500 "ALL Toolkits - Error Generating PDF Reports"
_Test results that were initiated on 11/7/2019_

**The system produces error messages generating a PDF report for each of the following (4) PDF functions within the QA Toolkit and IEM Toolkit Admin Menu.**

### QA Toolkit
**1. Under the User List Tab, an error occurs when the user selects the Subscription Summary Button**
![image](https://user-images.githubusercontent.com/25441512/68426039-4645c38

[2019-11-07 21:07] HollySchuelerKCI opened #501 "ALL Toolkits - Logins by Hour Graph Does Not Appear"
_Test results that were initiated on 11/7/2019 and 11/8/2019_

The following issue has occurred under the Admin Tab of the QA, MDE, and IEM Toolkits.

### QA Toolkit

**1. Under the Analysis Tab -> Login Analysis, the Logins by Hour graph is NOT displayed on the page.**

Development Environment:
![image](https://user-images.githubusercontent.com/25441512/68427387-016f5c00-0178-11ea-8ff7-4aad08130f

[2019-11-08 15:10] HollySchuelerKCI opened #502 "IEM & MDE Toolkits - Request New Account & Update Account Error"
_Test results that were initiated on 11/8/2019_

The following issues have occurred on the IEM and MDE Toolkits Login Webpages.

**1. When the user selects the Request New Account button, the system returns a 404 Error.**
![image](https://user-images.githubusercontent.com/25441512/68486741-be60c780-020f-11ea-8848-5497fdc557cc.png)

![image](https://user-images.githubusercontent.com/25441512/684867

[2019-11-08 17:01] slmessier opened #503 "QA Toolkit - UI & DB Updates to SWM As-Built Submittal Request Form"
### Develop & Implement the following Enhancements to the UI for the _"SWM As-Built Submittal Request Form"_

UI Form can be accessed by clicking on: **“Projects” Menu – “SWM AB Summary” menu – “Submit New”**

1.  Add **the date of authentication beside the name for each instance of (3)** authentication representatives
1. **Remove notification box** from the UI page.

![image](https://user-images.

[2019-11-08 17:02] slmessier commented on #503
@vijme @HollySchuelerKCI fyi of work item

[2019-11-08 18:42] vijme commented on #502
Issue fixed and ready for testing

[2019-11-08 18:43] vijme commented on #501
Issue fixed and ready for testing

[2019-11-08 18:52] vijme commented on #499
It would not match the production. What appears here and the actual document is **completely configurable by the admin using the tab "Admin->Standard Forms".** Any document that is configured to be available to **contractors** in that tab will appear here.

[2019-11-08 20:58] vijme commented on #500
Issue fixed and ready for testing

[2019-11-14 20:35] HollySchuelerKCI opened #504 "QA Toolkit - New User First Time Login"
_Error occurred on 11/14/2019 during Security Requirements testing._
This issue has been merged with #505

**An error occurs when a new account user attempts to login for the first time after his/her account has been created and approved by an Admin. The New User password does not contain number or special characters in them.**

### Steps to Replicate:

1. Admin logs into QA Toolkit
2. Click Admin

[2019-11-19 17:05] vijme commented on #504
Issue fixed and ready for testing

[2019-11-19 17:07] vijme opened #505 "Password generated for new user doesnot adhere to standards"
New User password doesnot contain number or special characters in them.

[2019-11-19 17:08] vijme opened #506 "Inspection View page has inactivity pop ups show up at the bottom of page"
Inspection->QA1->View Inspection. Scroll to the bottom of page. Popups are shown.

[2019-11-19 18:39] slmessier commented on #490
@viji this issue persists as of this writing @AndyWuKCI

[2019-11-19 18:52] slmessier opened #507 "All Toolkits - Search Filter Panels - Missing Collapse/Expand Capability"
### The search panels with each toolkit are not currently collapsible - see below:

### QA Toolkit:
**Missing +/- Collapse Button - panel does not collapse**
![image](https://user-images.githubusercontent.com/4098544/69176107-1b436400-0ad3-11ea-9d0d-6e7c34e0e283.png)

### MDE Toolkit:
**+/- Collapse Button Appears - however panel does not collapse**
![image](https://user-images.githubusercontent.c

[2019-11-19 19:00] slmessier commented on #506
@vijme @andywu123  - please be advised these pop ups appear at the bottom of every page in all toolkits (that I have seen so far):

QA Toolkit:
![image](https://user-images.githubusercontent.com/4098544/69176995-c274cb00-0ad4-11ea-99db-5fbadc3ed4fe.png)

MDE Toolkit:
![image](https://user-images.githubusercontent.com/4098544/69177036-d1f41400-0ad4-11ea-9956-c6d95a402c2f.png)

IEM Toolkit:
![image]

[2019-11-19 19:13] vijme commented on #507
@slmessier, can you try clearing your browser cache and try again

[2019-11-19 20:12] slmessier commented on #507
@vijme I can confirm this issue does consistently occur for all collapsible panels in the UI exclusively when testing on IE 11 browser platform (version below).

**Collapse/Expand functionality functions successfully, as expected using Chrome, Firefox, MS Edge.**
![image](https://user-images.githubusercontent.com/4098544/69182286-b1c95280-0ade-11ea-9524-b1bb09fec839.png)

[2019-11-20 17:52] vijme commented on #507
Issue fixed and ready for testing. Interesting issue. Issue seems to be because of console.log function, where console is not ready in IE till we open it deliberately.

[2019-11-20 17:54] vijme commented on #506
Issue seems to be due to a missing javascript refrence.

[2019-11-20 17:59] vijme commented on #490
Issue resolved and ready for testing

[2019-11-20 18:00] vijme opened #508 "MDE toolkit update user overwrites password to null"

[2019-11-20 18:40] AndyWuKCI commented on #506
Hi Holly, The issue is fixed. Feel free to test. Thank you!

[2019-11-20 18:45] HollySchuelerKCI opened #509 "MDE Toolkit - EPD Any Status and Raw Data Report Error"
_Test results that were initiated on 11/20/2019_

The following (2) report errors occurred when attempting to print:

### 1. EPD Any Status Report - PDF and Spreadsheet formats
a. From the reviews tab, click Print.
b. Next, click EPD any status
c. The system displays an unrecoverable error message.

### 2. RAW Data Report - PDF and Spreadsheet formats
a. From the reviews tab, click Print.
b. Next,

[2019-11-20 18:55] HollySchuelerKCI opened #510 "MDE Toolkit - Add New Comment Log"
_Test results that were initiated on 11/20/2019_

An unrecoverable error has occurred when the user adds a new comment log to a review.

### Steps To Replicate:
1. Click Edit button from the Reviews Tab
2. Scroll down and click Comment log
![image](https://user-images.githubusercontent.com/25441512/69268464-2f539800-0b9d-11ea-8959-a03fe44ecc5e.png)
3. Add required information to the comment log
![

[2019-11-20 20:21] vijme commented on #510
Oracle update error. Issue fixed in dev. Will be available for testing tomorrow

[2019-11-21 19:41] vijme commented on #510
Ready for testing

[2019-11-21 19:42] vijme commented on #509
Issues fixed and ready for testing

[2019-11-21 19:58] vijme commented on #508
Admin->Useredit->Update saved the password as null.

[2019-11-21 19:58] vijme commented on #508
Issue fixed and ready for testing

[2019-11-21 20:26] AndyWuKCI commented on #505
@HollySchuelerKCI @slmessier  @vijme It's fixed. Please feel free to test.

[2019-11-22 16:22] vijme opened #511 "saving user password history has error."
Saving one user password in history erases others

[2019-11-25 19:33] slmessier commented on #490
@vijme @andywu123
Issue appears resolved in previously identified regions of UI. However, **I have encountered this issue on the the QA Toolkit - Permit Templates Menu. Please investigate whether this can be reconciled using the same solution as developed previously.**

![Cancel_DeletePermitTemplate20191125](https://user-images.githubusercontent.com/4098544/69571631-7fad6a00-0f90-11ea-8a8b-ba3ae08

[2019-11-25 20:57] slmessier opened #512 "QA Toolkit - Reporting Menu - Add New Skipped Inspection - Fails to Save"
### The QA Toolkit does not properly save entered "Skipped Inspection" information (see animated graphic below).

**Note: this issue exists in STAGING as well** @vijme @AndyWuKCI

The system allows the user to complete the workflow, however **when the user clicks Save the system begins processing and never issues a response.**
![AddSkippedInspection_20191125](https://user-images.githubusercontent.

[2019-11-25 21:02] slmessier opened #513 "QA Toolkit - Reporting Menu - Edit Existing Non-Compliance - Application Error"
### The QA Toolkit does not properly display the (Reporting Menu) Edit Compliance Details page, the application errors out (see graphic below).

**When the user clicks to edit an existing Non-Compliance Record, the system produces an application error.**

![EditNonCompliance_20191125](https://user-images.githubusercontent.com/4098544/69577727-f9e3eb80-0f9c-11ea-8e1d-6b1893915f7b.gif)

[2019-11-26 15:05] vijme commented on #513
Issue related to oracle upgrade. Fixed in dev

[2019-11-26 15:08] vijme commented on #511
Issue related to oracle acting weird when userid is used in delete command

[2019-11-26 16:04] vijme commented on #512
This issue is fixed and ready for testing

[2019-11-26 16:04] vijme commented on #513
This issue is ready for testing

[2019-11-26 16:08] vijme commented on #490
Fixed and ready for testing

[2019-11-26 17:38] HollySchuelerKCI commented on #491
This issue has been successfully validated in the IEM and MDE Toolkits.

[2019-11-26 18:40] HollySchuelerKCI commented on #485
This issue has been validated in the QA Toolkit.

[2019-11-26 18:43] HollySchuelerKCI commented on #490
This issue has been successfully validated for IEM, MDE and QA Toolkits.

[2019-11-26 18:48] HollySchuelerKCI commented on #492
This issue has been successfully validated by the project team.

[2019-11-26 18:50] HollySchuelerKCI commented on #493
This issue has been successfully validated by the project team.

[2019-11-26 18:53] vijme commented on #511
Issue fixed and ready for testing

[2019-11-26 19:04] HollySchuelerKCI commented on #494
This issue has been successfully validated by the project team.

[2019-11-26 19:19] HollySchuelerKCI commented on #496
This issue has been successfully validated by the project team in IEM, MDE and QA Toolkits.

[2019-11-26 19:41] HollySchuelerKCI commented on #497
This issue has been successfully tested in IEM, MDE, and QA Toolkits.

[2019-11-26 19:47] HollySchuelerKCI commented on #498
This issue has been successfully validated by the project team.

[2019-11-26 19:49] HollySchuelerKCI commented on #499
This issue will be dependent on stakeholder via the path above. This issue has been resolved.

[2019-11-26 19:55] HollySchuelerKCI commented on #500
All the above issues have been successfully validated by the project team.

[2019-11-26 20:08] HollySchuelerKCI commented on #501
This issue has been successfully validated in the IEM, MDE, and QA Toolkits.

[2019-11-26 21:04] vijme opened #514 "QA Toolkit Reporting -> Reports-> QA Projects By District Error"

[2019-11-27 15:28] HollySchuelerKCI commented on #502
This issue has been successfully validated by the project team.

[2019-11-27 15:31] HollySchuelerKCI commented on #503
This issue has been successfully validated by the project team.

[2019-11-27 15:56] HollySchuelerKCI commented on #504
This issue will require email notifications to fully test and validate. Testing will begin once email functionality has been enabled,

[2019-11-27 15:56] HollySchuelerKCI commented on #505
This issue will require email notifications to fully test and validate. Testing will begin once email functionality has been enabled.

[2019-11-27 16:02] HollySchuelerKCI commented on #506
This issue has been successfully validated in IEM, MDE and QA Toolkits.

[2019-11-27 16:10] HollySchuelerKCI commented on #507
This issue has been successfully validated for IEM, MDE, and QA Toolkits.

[2019-11-27 16:10] vijme commented on #514
Oracle Int64 -> DEcimal error. Issue fixed and ready for testing

[2019-11-27 16:15] HollySchuelerKCI commented on #509
This issue has been successfully validated by the project team.

[2019-11-27 16:20] HollySchuelerKCI commented on #510
This issue has been successfully validated by the project team.

[2019-11-27 16:23] HollySchuelerKCI commented on #505
This issue is related to issue #504 and have been merged.

[2019-11-27 16:23] #505 closed

[2019-11-27 16:36] HollySchuelerKCI commented on #512
This issue has been successfully validated by the project team.

[2019-11-27 16:39] HollySchuelerKCI commented on #513
This issue has been successfully tested by the project team.

[2019-11-27 17:05] HollySchuelerKCI commented on #504
This issue has been successfully validated by the project team.

[2019-12-03 14:03] slmessier opened #515 "QA Toolkit - Automatic Notification Log"
### Automatic Emails Log File:
**The file below represents confirmed output for testing the automatic email notification capabilities of the upgraded QA Toolkit system.**

Rather than develop the (DEV) QA Toolkit application to deliver actual email notifications - which would automatically be sent to users from the production environment - functionality was developed to write each occurrence to a

[2019-12-05 17:01] vijme opened #516 "New Mod Request Fails to Save"

[2019-12-06 15:57] HollySchuelerKCI commented on #509
@vijme While performing the testplan, I noticed the MDE Workload Report now returns an error.

[2019-12-06 16:02] vijme commented on #509
@HollySchuelerKCI , Can you provide screenshot. Both of them works fine from my end.

[2019-12-06 16:26] HollySchuelerKCI commented on #509
Update: Per developer, after performing a browser refresh, the errors for the above reports has been resolved.

Will continue to monitor should this issue arise again.

[2020-01-20 16:52] slmessier opened #517 "QA Toolkit - Signature Box Moves / "Jumps" on Page using a Stylus Device"
This issue is pre-existing (in the PROD) system but has become critical to resolve as indicated by stakeholders.

**The signature box inadvertently moves or "jumps" across regions of the UI page causing users (with a stylus device in the field) to be unable to interact by completing signature as designed. See animated gif below**

"This has been an ongoing issue that we have dealt with in the fiel

[2020-01-21 15:41] #490 closed

[2020-01-21 15:42] #491 closed

[2020-01-21 15:42] vijme commented on #517
This issue has a fix to be implemented on chrome.  On the touch device, please Right Click Google Chrome (typically on the desktop) -> Properties -> Shortcut -> Target please add at the end after chrome.exe" --touch-events=enabled. Click "Apply" and "OK". This needs to be done only once and do not need to be done for each updates.

![image](https://user-images.githubusercontent.com/6668314/7281913

[2020-01-21 15:52] #494 closed

[2020-01-21 15:52] #492 closed

[2020-01-21 15:53] #493 closed

[2020-01-21 15:55] #495 closed

[2020-01-21 17:12] slmessier commented on #517
@Tad-Daniel please find the update above. Are you able to test/ confirm in both PROD and SHA INTERNAL DEV?

[2020-01-23 20:14] slmessier opened #518 "QA Toolkit - Admin-Analysis Menu - Grid Column Sorting Not Functional"
### Grid Sorting Error on (2) Admin-Analysis Menu/Pages

The system issues an application error message when **clicking on the column header to sort the grid** on the following 2 UI pages:

1. Admin-Analysis-**Approve Accounts**
1. Admin-Analysis-**Approve Assignments**
![20200123_AdminMenuGridSorting](https://user-images.githubusercontent.com/4098544/73020122-faf59580-3df2-11ea-9ea5-7ce7d483828a.

[2020-01-23 20:32] slmessier opened #519 "QA Toolkit - Reports Menu - Edit Skipped Inspection Workflow"
### After editing a skipped inspection the system erroneously displays an editable box within the date column on the grid.

To Replicate:

1. edit the values associated w an existing skipped inspection record
1. save changes, the system will then navigate back to the grid list of all skipped inspections
1. the system erroneously displays a editable date field within the first column of the grid

!

[2020-01-23 20:51] slmessier opened #520 "IEM Toolkit - Replace Graphic Buttons"
On the (non-editable) View Issue Details Page - **Replace the graphics files used for displaying the buttons for the "CLOSE" and "REPORT" on the non-editable issue view.**

Re-use the graphics that are implemented on the Edit Issue Details Page.

### Buttons on View Issues Page:
![image](https://user-images.githubusercontent.com/4098544/73022681-09927b80-3df8-11ea-875f-8ea370e21769.png)

### Butto

[2020-01-23 21:03] slmessier opened #521 "MDE Toolkit - Replace Graphic Buttons"
Permit Reviews Menu (Accessible only to Permit Reviewer Profile) - **Replace the graphics files used for displaying the buttons for the "SEARCH" "PRINT" and "RESET" buttons.**

Re-use the graphics that are implemented on the Projects Menu / Page.

### Buttons on Permit Reviews Page:
![image](https://user-images.githubusercontent.com/4098544/73023515-b15c7900-3df9-11ea-846c-18b3a592d18e.png)

### B

[2020-01-24 19:52] slmessier commented on #496
@Tad-Daniel are you able to confirm in SHA-INTERNAL app environment?
Please advise & confirm if applicable.

[2020-01-24 20:00] slmessier commented on #497
@Tad-Daniel are you able to confirm in SHA-INTERNAL app environment?
Please advise & confirm if applicable.

[2020-01-24 20:00] slmessier commented on #498
@Tad-Daniel are you able to confirm in SHA-INTERNAL app environment?
Please advise & confirm if applicable.

[2020-01-24 20:04] vijme commented on #519
Issue fixed and available in KCI Test Site for testing

[2020-01-24 20:04] #499 closed

[2020-01-24 20:05] #500 closed

[2020-01-24 20:08] vijme commented on #518
Issue fixed and ready for testing in KCI test site

[2020-01-24 20:10] vijme commented on #520
Enhancements done and ready for testing.

Also changed was buttons on the env impacts view and edit page

[2020-01-24 20:12] vijme commented on #521
UI Enhancements applied and ready for testing in KCI test site

[2020-01-24 20:16] #501 closed

[2020-01-24 20:22] slmessier commented on #503
@Tad-Daniel are you able to confirm in SHA-INTERNAL app environment?
Please advise & confirm if applicable.

[2020-01-24 20:24] #504 closed

[2020-01-24 20:24] #506 closed

[2020-01-24 20:27] #507 closed

[2020-01-24 20:32] #509 closed

[2020-01-24 20:34] #510 closed

[2020-01-24 20:36] slmessier commented on #512
@vijme this issue is a precursor to #519

[2020-01-24 20:36] #512 closed

[2020-01-24 20:37] slmessier commented on #519
@vijme see related issue #512 which was previously developed and has been closed.

[2020-01-24 20:39] #513 closed

[2020-01-24 20:39] #515 closed

[2020-01-24 20:41] slmessier commented on #519
@HollySchuelerKCI could you please test in Upgraded KCI DEV env?

[2020-01-24 20:41] slmessier commented on #520
@HollySchuelerKCI could you please test in Upgraded KCI DEV env?

[2020-01-24 20:42] slmessier commented on #521
@HollySchuelerKCI could you please test in Upgraded KCI DEV env?

[2020-01-24 21:17] slmessier opened #522 "SHA DEV ENV: All Toolkits - Error Navigating Across Calendar Pages Using Arrow Icons"
Stakeholders (Tad) have reported **the issue below which is triggered when attempting to use the "Arrow Icons" to page across months on the calendar**.

The **issue has not been replicated in KCI-DEV and appears to likley be distinct to the SHA-DEV app environment**.

### Example of Issue:
![20200124_CalendarPaging](https://user-images.githubusercontent.com/4098544/73104525-8db23500-3ec4-11ea-8fb7

[2020-01-24 21:22] slmessier commented on #518
@HollySchuelerKCI could you please test in Upgraded KCI DEV env?

[2020-01-24 21:37] slmessier opened #523 "IEM Toolkit - Replace Graphic Buttons (Reports Menu)"
On the Reports Menu Page - **Replace the graphics files used for displaying the "Generate Report" button.**

Re-use the button graphic that is implemented on the Edit Issue Details Page.

### Existing Button on Reports Menu Page:
![image](https://user-images.githubusercontent.com/4098544/73022681-09927b80-3df8-11ea-875f-8ea370e21769.png)

### Button on Edit Issues Page:
![image](https://user-image

[2020-01-27 14:33] vijme commented on #523
@slmessier , i think the issue does not relate to the UI page posted here. This one is already fixed. It must be this page.
![image](https://user-images.githubusercontent.com/6668314/73182951-fcbba380-40e7-11ea-9332-43a1e33a1654.png)

[2020-01-28 15:07] slmessier opened #524 "SHA DEV ENV: QA Toolkit - Project List Reports Not Generating"
Stakeholders (Tad) has reported **each of the system "Project List" reporting options below fails to generate consistently**.

Tad's report indicates this **"None of these printing options under the project produce anything and the system temporarily freezes."**

The **issue has not been replicated in KCI-DEV and appears to likley be distinct to the SHA-DEV app environment**.

### Project List Rep

[2020-01-28 15:54] slmessier opened #525 "QA Toolkit - QA1 Inspection UI Form - Text Input Controls Not Available"
**The system is not currently enabling text input fields and supporting UI controls associated with the QA Inspection form - specifically the line items labelled as "Special Features":**

- Section 2.8

- Section 3.8

### Bug Within Upgraded (DEV) App Environments
![image](https://user-images.githubusercontent.com/4098544/73280198-33fb8480-41bc-11ea-876d-04b3b9a49b7e.png)

### Expected Functionali

[2020-01-28 17:23] slmessier opened #526 "QA Toolkit - QA2 Inspection - Sorting on Grid"
Grid   sorting is not working on the QA2 grid under the inspections menu

**Inspections --> QA2 -->Primary Grid Sort by Column Header**

![20200128_QA2ColumnSorting](https://user-images.githubusercontent.com/4098544/73288413-f0f3de00-41c8-11ea-98d1-cf3c46a545dd.gif)

[2020-01-28 17:46] vijme commented on #525
Issue fixed, will be available for testing tomorrow

[2020-01-28 17:49] vijme commented on #525
Please note that All inspections saved when the issue existed will still have the issue. The fix holds good for all new inspections and inspections that were saved before the issue existed.

[2020-01-28 17:53] vijme commented on #526
Issue fixed, and available for testing tomorrow

[2020-01-28 20:28] #502 closed

[2020-01-28 20:39] slmessier opened #527 "SHA DEV ENV: IEM & MDE Toolkits - Update Account Button Error"
Tad has reported the system does not allow users to download an"Update Account" document from each of the login pages of the IEM and MDE Toolkits.

The **issue has not been replicated in KCI-DEV (see GH #502) and appears to likely be distinct to the SHA-DEV app environment**.

[2020-01-30 14:23] HollySchuelerKCI commented on #518
This issue has been successfully validated by the project team for both the Approve Accounts and Approve Assignments grid.

**This issue is ready for the SHA environment.**

[2020-01-30 15:06] HollySchuelerKCI commented on #511
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 15:23] HollySchuelerKCI commented on #519
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 15:54] HollySchuelerKCI commented on #525
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 16:43] HollySchuelerKCI commented on #526
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 17:17] HollySchuelerKCI commented on #523
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 17:22] HollySchuelerKCI commented on #520
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 17:48] HollySchuelerKCI commented on #521
This issue has been successfully validated by the project team.

This issue is ready for SHA production.

[2020-01-30 19:04] HollySchuelerKCI commented on #508
This issue has been successfully tested by the project team.

This issue is ready for SHA production.

[2020-02-04 17:16] vijme commented on #522
Scott, I remember the page actually worked on the development system. If the page works on the dev and not on server, then it must be some security settings on the server. If the page doesnot work on dev, then it is highly likely that javascript error has occured. I would check first with the developer to figure out where the issue exist.

[2020-02-04 17:17] vijme commented on #524
SHA team has to test this functionality in the dev and send the error message.

[2020-02-04 17:23] vijme commented on #527
Please make sure that the file named OEDtoolkits.account.update is available inside the docs folder of the toolkits main root folder

![image](https://user-images.githubusercontent.com/6668314/73769674-12187980-4749-11ea-8f4b-dd770a6987c9.png)

[2020-02-06 16:02] Tad-Daniel commented on #485
Appears to be working correctly.

[2020-02-06 16:04] Tad-Daniel commented on #496
Issue resolved

[2020-02-06 16:06] Tad-Daniel commented on #497
Issue resolved

[2020-02-06 16:18] Tad-Daniel commented on #498
Working as expected

[2020-02-06 16:20] Tad-Daniel commented on #503
appears correct

[2020-02-06 16:25] Tad-Daniel commented on #518
issue resolved

[2020-02-06 16:28] Tad-Daniel commented on #519
issue resolved

[2020-02-06 16:31] Tad-Daniel commented on #520
Looks correct

[2020-02-06 16:32] Tad-Daniel commented on #521
Looks correct

[2020-02-06 16:34] Tad-Daniel commented on #523
issue resolved.  Looks correct

[2020-02-06 16:43] Tad-Daniel commented on #525
Issue resolved.

[2020-02-06 16:44] Tad-Daniel commented on #526
issue resolved

[2020-02-10 19:59] HollySchuelerKCI commented on #526
This issue has been validated by the stakeholder and us ready for production.

[2020-02-10 20:00] HollySchuelerKCI commented on #525
This issue has been validated by the stakeholder and us ready for production

[2020-02-10 20:00] HollySchuelerKCI commented on #523
This issue has been validated by the stakeholder and us ready for production

[2020-02-10 20:52] HollySchuelerKCI commented on #521
This issue has been validated by the stakeholder and us ready for production

[2020-02-10 20:53] HollySchuelerKCI commented on #520
This issue has been validated by the stakeholder and us ready for production

[2020-02-10 20:54] HollySchuelerKCI commented on #485
This issue has been validated by the stakeholder and us ready for production

[2020-02-10 20:54] HollySchuelerKCI commented on #496
This issue has been validated by the stakeholder and us ready for production

[2020-02-10 20:55] HollySchuelerKCI commented on #497
This issue has been validated by the stakeholder and is ready for production.

[2020-02-10 20:56] HollySchuelerKCI commented on #498
This issue has been validated by the stakeholder and is ready for production.

[2020-02-10 20:56] HollySchuelerKCI commented on #503
This issue has been validated by the stakeholder and is ready for production.

[2020-02-10 20:57] HollySchuelerKCI commented on #518
This issue has been validated by the stakeholder and is ready for production.

[2020-02-10 20:58] HollySchuelerKCI commented on #519
This issue has been validated by the stakeholder and is ready for production.

[2020-03-10 18:55] slmessier opened #528 "QA Toolkit - Read-Only View of QA1 Form - Automatic Calcs & UI Controls Enabled"
**SHA has reported the following issues with the QA1 Inspection Form distinctly for the View-Only workflow** to view (and not edit) existing Inspection information.

1. **UI automatically enables a text field when user selects "No" for an associated question.** (This behavior does not occur in OED PROD. The text fields should not appear at all on the view-only version of the form.)
2. **UI erroneo

[2020-03-10 23:05] slmessier commented on #528
@vijme Issue has been resolved and verified in KCI DEV. Please package code and transfer to SHA FTP.

[2020-04-08 12:05] slmessier opened #529 "QA Toolkit - Perform Database Object Comparison & Report Results"
SHA OIT has requested to evaluate results of a report comparing Database schema between KCI-DEV and SHA DEV.

------------------------------------------------------------
### SHA Comparison Report
[Reports.zip](https://github.com/kcigeospatial/sha_oed_issues/files/4450303/Reports.zip)

------------------------------------------------------------
### Original Request
From: Anil Bhatia (Consultant)

[2020-04-08 12:07] slmessier commented on #529
A work session was conducted on 3/10 between Viji Selvamani and Muhammad Ahsan this exercise was completed.

---------------------------
### Email Correspondence:
From: Viji Selvamani <viji.selvamani@ecointegration.com>
Sent: Tuesday, March 10, 2020 2:22 PM
To: Muhammad Ahsan (Consultant) <MAhsan.consultant@mdot.maryland.gov>
Cc: Anil Bhatia (Consultant) <ABhatia.consultant@mdot.maryland.gov>; Sco

[2020-04-08 12:11] slmessier commented on #528
SHA installed the patch (on 3/11) but still reported recurrence of the issues subsequently. SHA requested a work session call (on MS Teams) to discuss details with the KCI Team.

-------------------------------------------------------------
### Email Correspondence;
From: Anil Bhatia (Consultant) <ABhatia.consultant@mdot.maryland.gov>
Sent: Tuesday, March 10, 2020 10:59 AM
To: Scott Messier <Scott

[2020-04-08 12:16] slmessier commented on #528
After conducting the call to review details of unexpected behavior, KCI team performed additional investigation into the code to determine the issue was being caused by a rounding function within the code which was not rounding to the correct decimal value.

A patch was developed to address the rounding issue.

The patch was tested successfully and distributed to SHA for implementation on 3/11. An